<div class="empty-todo-task-card">
    <div class="empty-todo-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-square-check-big-icon lucide-square-check-big">
            <path d="M21 10.5V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h12.5" />
            <path d="m9 11 3 3L22 4" />
        </svg>
    </div>
    <div class="empty-todo-title">No tasks yet</div>
    <div class="empty-todo-desc">Add your first task to get started on this todo list.</div>
    <button type="submit" class="create-btn" onclick="document.getElementById('task-content-input').focus()">Add your first task</button>
</div>
