<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/top_bar.css">
    <link rel="stylesheet" href="/styles/login.css">
    <link rel="stylesheet" href="/styles/todo_task_card.css">
    <link rel="stylesheet" href="/styles/todo_list_card.css">
    <link rel="stylesheet" href="/styles/todo_list.css">
    <link rel="stylesheet" href="/styles/empty_todo_list_card.css">
    <link rel="stylesheet" href="/styles/empty_todo_task_card.css">
    <title>{{.PageTitle}}</title>
</head>
