<div class="todo-list-card">
  <a href="todo-list?id={{.Id}}">
    <div class="list-name">{{.Name}}</div>
    <div class="last-modified">Last Modified: {{.GetModifiedAtFormatted}}</div>
    <div class="progress-bar-container">
      <div class="progress-bar-header">
        <span>Progress</span>
        <span>{{.CompletionPercent}}%</span>
      </div>
      <div class="progress-bar">
        <div class="progress" style="width: {{.CompletionPercent}}%;"></div>
      </div>
      <div class="task-summary">{{.CompletedTasks}} of {{.TotalTasks}} tasks completed</div>
    </div>
    <div class="todo-card-footer">
      {{.GetRemainingTasks}} tasks remaining
    </div>
    <div class="open-hint">OPEN</div>
  </a>
  <form method="POST" action="/todo-list/delete" class="todo-card-delete-btn">
    <input name="id" value="{{.Id}}" hidden>
    <button style="background: none; border: none; cursor: pointer; width: 100%; height: 100%;">
      <img src="/icons/trash.svg" alt="Delete" width="90%" height="90%">
    </button>
  </form>
</div>
